<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" />
  </configSections>
  <SubSonicService defaultProvider="LW">
    <providers>
      <clear />
      <add name="LW" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="LW" generatedNamespace="LW" />
    </providers>
  </SubSonicService>
  <connectionStrings>
    <!--for remote-->
    <add name="LW" connectionString="data source=45.58.6.236,9070;initial catalog=LAMBSWebDB;user id=LambsWebDBUser;password=lambs1201;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="LWD" connectionString="data source=45.58.6.236,9070;initial catalog=LAMBSWebData;user id=LambsWebDataUser;password=lambsdata726;Connection Timeout=180;" providerName="System.Data.SqlClient" />
    <add name="FGP" connectionString="data source=45.58.6.236,9070;initial catalog=LAMBSMarketDB;user id=LambsWebDBUser;password=lambs1201;Connect Timeout=180" providerName="System.Data.SqlClient" />
    <!--for live-->
    <!--<add name="LW" connectionString="data source=10.10.10.13,9070;initial catalog=LAMBSWebDB;user id=LambsWebDBUser;password=lambs1201;Connect Timeout=180" providerName="System.Data.SqlClient"/>
    <add name="LWD" connectionString="data source=10.10.10.13,9070;initial catalog=LAMBSWebData;user id=LambsWebDataUser;password=lambsdata726;Connect Timeout=180" providerName="System.Data.SqlClient"/>
    <add name="FGP" connectionString="data source=10.10.10.13,9070;initial catalog=LAMBSMarketDB;user id=LambsWebDBUser;password=lambs1201;Connect Timeout=180" providerName="System.Data.SqlClient"/>-->    
  </connectionStrings>
  <appSettings>
    <add key="SiteUrl" value="http://www.elambs.com" />
    <add key="ImageUrl" value="http://image1.elambs.com" />
    <add key="ServiceSiteUrl" value="http://www.elambsmall.com" />
    <add key="HelpSiteUrl" value="http://help.elambs.com" /><!--value="http://localhost:42287"-->
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483647" />
    <!--for live-->
    <add key="FG_WEBAPI_URL" value="https://api3.fashiongo.net" />
    <add key="FG_WEBAPI_PORT" value="443" />
    <!--for remote-->
    <!--<add key="FG_WEBAPI_URL" value="http://38.98.2.219"/>
    <add key="FG_WEBAPI_PORT" value="8082"/>-->
    <!--for korea office-->
    <!--<add key="FG_WEBAPI_URL" value="http://175.113.116.45"/>
    <add key="FG_WEBAPI_PORT" value="8082"/>-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="720" />
    <machineKey validationKey="9DED48EBFE2778D2F6DF903C735C3D023CC50D042D5888F184AA12CD5E82CACDD882A3EC4792BB8920779F52456868BF041A44C57E73A841DAA226BB5A242FF0" decryptionKey="2A9FE4A84A5BC739E4A2869AC18B2D145326EFD91A65ED32794CEFADC830FFDD" validation="SHA1" decryption="AES" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880" name=".ASPXAUTH_LAMBSMAIN" defaultUrl="default.aspx" cookieless="UseCookies" protection="All" />
    </authentication>
    <trace enabled="false" localOnly="true" traceMode="SortByTime" pageOutput="false" requestLimit="1000" />
    <pages />
    <anonymousIdentification enabled="false" />
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LW" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="LambsWeb" requiresUniqueEmail="false" passwordFormat="Encrypted" maxInvalidPasswordAttempts="20" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" />
      </providers>
    </membership>
    <profile automaticSaveEnabled="true" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LW" applicationName="LambsWeb" />
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="LW" applicationName="LambsWeb" />
      </providers>
    </roleManager>
    <compilation defaultLanguage="c#" targetFramework="4.5" debug="true">
      <buildProviders>
        <add extension=".abp" type="SubSonic.BuildProvider, SubSonic" />
      </buildProviders>
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="524288" executionTimeout="3600" targetFramework="4.5" />
    <!--<identity impersonate="true" password="elambs947" userName="elambsuser" />-->
    <customErrors mode="RemoteOnly" defaultRedirect="/Error.html" redirectMode="ResponseRedirect">
      <error statusCode="404" redirect="/Error404.html" />
      <!--<error statusCode="500" redirect="/error500.html" />-->
    </customErrors>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/Error404.html" responseMode="ExecuteURL" />
    </httpErrors>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="dm@elambs.com">
        <!--<network host="mail.elambs.com" password="elambs1!" userName="dm@elambs.com" />-->
        <network host="10.10.0.135" password="elambs1!" userName="dm@elambs.com"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483647" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>